body{
   
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 9%;
  box-sizing: border-box;
  border: 2px solid black;
  background-color:gray
}
.header span{
  all: unset;
  font-size: 1.4rem;
  color: white;
  text-align: center;
}
.container{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
    width: 80%;
    height: 90%;
    position: relative;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(225,231,238,1) 100%);
    bottom: 82%;
    left: 20%;
}

 span{
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 10;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 2px solid black;
  background-color: white;
  display: none;
}
.disk1{
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0%;
  margin: 0%;
  width: 25%;
  height: 5%;
  position: absolute;
  z-index: 9;
  background-color:pink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  
}

.side-bar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  
  border: 1px solid black;
  padding: 0%;
  margin: 0%;
  width: 20%;
  height: 91%;
  position :relative;
  left:0%;
  top:9%;
  background-color: rgb(22, 151, 202);
  padding: 1.5rem;
  font-size: 1.5rem;
  color: white;
  row-gap: 1rem;
}

.levels{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}


.side-bar .current-level{
 border: 2px solid white;
 font-size: 2rem;
 font-weight: 700;
}
.side-bar .following-level{
  opacity: 0.5;
 }

 .bottons{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
 }

 .bottons *{
  width: 100%;
  
  font-size: 1rem;
 }

 .move{
  all: unset;
 }

 .warning{
  
  padding: 2rem;
  row-gap: 1rem;
 width: 50%;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 25%;
  background-color: white;
  border: 2px solid red;
  z-index: 10;
 }
 .warning span{
  
  all: unset;
  font-size: 1.5rem;
  color: red;
 }
 .confirm-reset{
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  color: red;
  width: 10rem;
 }

 .confirm-reset:hover{
  background-color: red;
  color: white;
 }

.win{
  
  position: absolute;
  z-index: 10;
  max-width: 50%;
  top: 25%;
  left: 25%;
  display: none;
  flex-direction: column;
  align-items: center;
}
.win h1{
  text-align: center;
  
}
.win button{
  color: white;
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem;
  border-radius:10px ;
  box-shadow: 0px 4px 34px 0px rgba(22,208,219,0.75);
  -webkit-box-shadow: 0px 4px 34px 0px rgba(22,208,219,0.75);
  -moz-box-shadow: 0px 4px 34px 0px rgba(22,208,219,0.75);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,108,104,1) 10%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%);
}

.base ,.b1{
  border-radius: 10px;
  width: 2%;
  height: 90%;
  z-index: 8;
  background-color: black;
  position: absolute;
  top:calc(10%);
  left: 14%;
}

.b2{
  left: 49%;
}
.b3{
  left: 84%;
}