body{
   
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
}

.container{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
    width: 80%;
    height: 90%;
    position: relative;
    background-color: aquamarine;
    bottom: 82%;
    left: 20%;
}
 span{
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 10;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 2px solid black;
  background-color: white;
  display: none;
}
.disk1{
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0%;
  margin: 0%;
  width: 25%;
  height: 5%;
  position: absolute;
  z-index: 9;
  background-color:pink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  
}

.side-bar{
  box-sizing: border-box;
  border: 1px solid black;
  padding: 0%;
  margin: 0%;
  width: 20%;
  height: 91%;
  position :relative;
  left:0%;
  top:9%;
  background-color: rgb(22, 151, 202);
}
