body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
}
.inputs{
  padding: 25px;
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
}
.container{
    width: 600px;
    height: 600px;
    position: relative;
    background-color: aquamarine;
}
#mydiv {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }